@import url('https://fonts.googleapis.com/css?family=Open+Sans|ZCOOL+QingKe+HuangYou');

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	color: maroon;
	background-color: gainsboro;
	text-align: center-left;
}

h1 {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-weight: bolder;
	font-style: normal;
	color: navy;
	/*background-color: teal;*/
	text-align: center;
	}
h2{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-weight: bold;
	font-style: normal;
	color: navy;
	/*background-color: teal;*/
	text-align: center;
	}
h4{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-weight: 450;
	font-style: normal;
	color: navy;
	text-align: right;
	}
p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 450;
	font-style: normal;
	color: navy;
	text-align: left;
	}
img {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.image {
	position: relative;
	max-width: 50%;
	width: 200px;
	padding-top: 100%;
	}