@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	color: maroon;
	background-color: gainsboro;
	text-align: center-left;
}

h1 {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-weight: bolder;
	font-style: normal;
	color: navy;
	background-color: teal;
	text-align: center;
	}
h2{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-weight: bold;
	font-style: normal;
	color: navy;
	background-color: teal;
	text-align: center;
	}
h4{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-weight: normal;
	font-style: normal;
	color: navy;
	text-align: left;
	}